/Java/Semana3/Semana 3/nbproject/private/
/Java/Semana3/Semana 3/build/
/NewFolder/ConsultaUsuarios/nbproject/private/
/NewFolder/ConsultaUsuarios/build/
/AsignacionII/WebApplication1/nbproject/private/
/AsignacionII/AsignacionII/nbproject/private/
/AsignacionII/AsignacionII/build/
/Clase9/Clase9/nbproject/private/
